
body {
    font-family: Arial, sans-serif;
    background-color: #272b33;
}

.body {
    display: flex;
    align-items: start;
    flex-direction: row;
    font-family: Arial, sans-serif;
    background-color: #272b33;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    padding: 10px;
    margin: 40px;
    width: 15%;
    min-width: 130px;
    height: 400px;  
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: grey;
}

.search input, .search button {
    margin-bottom: 15px;
    
}

.sort-label {
    margin-left: -75px;  
}

.side-label {
    margin-left: -40px;  
}

.search {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    color: white;
    background-color: #272b33;
}

.articles-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.article {
    background: #ebfaf9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.article-title {
    flex-grow: 1; 
    font-size: 18px; 
    margin-right: 10px; 
}

.article-date {
    white-space: nowrap;
    padding-left: 10px;
    font-size: 0.85em;
    color: #303030;
}

.article-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.article img {
    width: 150px;
    height: auto;
    border-radius: 25px;
    margin-right: 10px; 
}

.article p {
    font-size: 14px;
    color: #303030;
    padding: 10px;
}

input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.pagination button {
    background-color: #666666; 
    color: #ffffff;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
}

.left-button{
    margin-right: 44.5px;
}

label {
    font-size: 14px;
}

@media (max-width: 900px) {
    .body {
        flex-direction: column;
    }

    .sidebar {
        width: 250px; 
        height:auto; 
        padding: 10px; 
        margin: auto;
    }

    .articles-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
    }

    .article {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
}
